body{
font-family: "Montserrat";
text-align: center;
}

h1, h2{
line-height: 1.5;
color: white;
}

.container-fluid{
padding: 5% 10%;
}

/* TITLE SECTION */

#title{
background-color: #ff4c68;
text-align:left;
}

.title-heading{
font-size: 3.5rem;
}

.navbar-brand{
font-size: 3rem;
font-family: "Ubuntu";
font-weight: bold;
}

.nav-link {
font-family: "Montserrat-light";
padding: 10px, 25%;
margin:10px;
}

#phone{
transform: rotate(20deg);
width: 60%;
position:absolute;
}

/* Media-adjust for small viewport */
@media (max-width: 1023px) {
#title{
text-align: center;
}
#phone{
transform: rotate(0deg);
position: static;
}
}

/* features */
#features .container-fluid{
padding: 5%;
background-color: white;
position: relative;
z-index: 1;
}

#features i{
padding-right: 5%;
color: #F78587;
}

#features i:hover{
color: red;
}

#features h3{
margin-top: 5%;
}

#features p{
font-family: "Ubuntu";
color:#000000;
margin-right: 0%;
margin-top: 5%;
padding: 0% 25%;
}

/* testimonials */
#testimonials{
background-color: #FFB38A;
font-size: 1rem;
}

.testimonial-text{
font-size: 2rem;
}

.testimonial-image{
width: 10%;
border-radius: 50%;
margin: 2em;
padding-bottom:5%;
}

.carousel-item{
padding: 5% 15% 0%;
}

#press{
padding-top: 5%;
background-color: #FFB38A;
}

#press img{
width: 15%;
margin: 0% 3% 3%;
}

/*pricing*/

.plans{
padding:5%;
}

.plans p{
font-size: 1rem;
font-weight: thin;
color: #6f8faf;
}

.card-deck{
margin:0% 5% 5%;
}

.card-body{
padding:0%;
}

.card-title{
width:100%;
padding:5%;
margin-bottom:10%;
background-color: #F78587;
}

.card-subtitle{
font-size: 2rem;
}

.card-text{
color: black;
font-family: "Montserrat-light";
font-weight: 400;
}

/* Call To Action */

#cta .container-fluid{
background-color: #ff4c68;
padding: 10%;
}

#cta button{
margin: 3%;
font-size: 1rem;
}

/* footer */

#footer {
background-color: #fff;
margin:5%;
}

#footer i{
padding: 1%;
}
